.home-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 40px;
}
.home-heading {
  color: #ffffff;
}
.desc {
  color: #ffffff;
}
.find-button {
  color: #ffffff;
  background-color: blue;
  border-radius: 5px;
  border-style: none;
}
.display-container {
  margin-left: 30px;
  margin-top: 50px;
}
